<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

<!--&lt;!&ndash;     Devices running Android 12L (API level 32) or lower  &ndash;&gt;-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->

<!--&lt;!&ndash;     Devices running Android 13 (API level 33) or higher &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

<!--&lt;!&ndash;     To handle the reselection within the app on Android 14 (API level 34) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />-->

    <application
        android:name=".PickUpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickUp.Splash"
        tools:targetApi="31">
        <activity
            android:name="kr.sjh.presentation.ui.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.sjh.presentation.ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PickUp"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="petory" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.sjh.presentation.ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PickUp"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="petory" />
            </intent-filter>
        </activity>
    </application>

</manifest>